:root {
    --default: #673ab7;
    --default-hover: #7146bb;
    --red: rgb(206, 0, 0);
    --yellow: rgb(255, 208, 0);
}

.bg__default {
    background-color: var(--default) !important;
}

.bg__default__hover:hover {
    background-color: var(--default-hover) !important;
}

.bg__red {
    background: var(--red);
}

.bg__red:hover {
    background: rgb(172, 1, 1);
}

.text__default {
    color: var(--default);
}

.bg__yellow {
    background: var(--yellow);
}

.bg__yellow:hover {
    background: rgb(255, 196, 0);
}

.text__light {
    color: white;
}

.pointer {
    cursor: pointer;
}

.section {
    margin: 50px auto;
}

.section-lg {
    margin: 150px auto;
}


.text-center {
    text-align: center;
}

.display-1 {
    font-size: 4rem;
}

.display-2 {
    font-size: 3.5rem;
}

.display-3 {
    font-size: 3rem;
}

.display-4 {
    font-size: 2.5rem;
}

.shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.shadow__lg {
    -webkit-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16), 0 8px 40px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16), 0 8px 40px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.16), 0 8px 40px 0 rgba(0, 0, 0, 0.12);
}

.font-size-md {
    font-size: 1.4rem;
}

.w-100 {
    width: 100% !important;
}

.w-75 {
    width: 75% !important;
}

.w-50 {
    width: 50% !important;
}

.my-normal {
    margin-top: 24px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.py-normal {
    padding-top: 24px;
    padding-bottom: 24px;
}

.px-normal {
    padding-left: 24px;
    padding-right: 24px;
}

.display-flex {
    display: flex !important;
}

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-around {
    justify-content: space-around !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-flex-start {
    align-items: flex-start !important;
}

.hidden {
    display: none;
}

.message-body {
    position: relative;
}

.close {
    background: none;
    color: var(--default);
    cursor: pointer;
    font-size: 1.5rem;
    border: none;
    position: absolute;
    top: 10%;
    right: 3%;
}

.link {
    text-decoration: none;
    color: white;
}

.red {
    color: red;
}

.green {
    color: green;
}

.completed-checkbox {
    border-radius: 0;
    width: 20px;
    height: 20px;
}

.disabled {
    pointer-events: none;
}

.btn {
    font-size: 1.2rem;
    padding: 12px 0px;
    width: 120px;
    transition: 0.2s ease-in;
}

.btn-red {
    border: 1px solid var(--red) !important;
}

.btn-yellow {
    border: 1px solid var(--yellow) !important;
    color: black;
}

.content:focus {
    outline: none;
}

code,
.gen {
    font-family: "Gen-Font";
    font-weight: 200;
    color: #00690a;
}

.messages-container {
    position: fixed;
    top: -15%;
    right: 0;
    left: 0;
    z-index: 1000;
}

.message-body {
    width: 50% !important;
    background-color: white;
    margin: 0 auto;
    animation: animate 0.2s ease-in;
    margin-bottom: 20px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.opacity-animation {
    animation: opacity_animate_hiding 0.2s ease-in;
}

@keyframes animate {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1.5;
    }
}

@keyframes opacity_animate_hiding {
    from {

        transform: translateY(0px);
        opacity: 1.5;
    }

    to {
        transform: translateY(-100px);
        opacity: 0;
        display: none;
    }
}