<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

    <div class="navbar bg__default shadow__lg">
        <div class="logo pointer bg__default__hover">
            <a href="/" class="link">TodoService</a>
        </div>
        <ul class="right">
            {% if current_user.is_anonymous %}
            <li class="bg__default__hover pointer"><a href="{{ url_for('auth.login') }}" class="link">Sign in</a></li>
            {% else %}
            {% if user %}
            <li class="bg__default__hover pointer">
                <span id="username">{{ user.username }}</span>
            </li>
            <li class="bg__default__hover pointer">
                <a href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </div>
    <div class="section-lg messages-container">
        {% for message in get_flashed_messages() %}
            <div class="card-body font-size-md my-normal text-center shadow w-75 mx-auto px-normal py-normal message-body">
                <span class="text__default">Message: </span>{{ message }}<button class="close">&nbsp;&nbsp;&nbsp;&cross;</button>
            </div>
        {% endfor %}
    </div>
    <div class="section-lg">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/common_functions/message.js') }}"></script>
    <script>
        let message_box = document.querySelector(".message-body");
        if (message_box) {
            setInterval(function (){
            message_box.classList.add("opacity-animation");
            setInterval(function () {
                    message_box.remove();
                }, 200);
            }, 3000)
        }
    </script>
</body>
</html>
